@import url(form.css);
@import url(output.css);
@import url(style.css);



/* Header styles */
.main-header {
    background-color: #282c34;
    color: white;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.main-header-text {
    max-width: 800px;
    margin: 0 auto;
}

.main-header-title {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.main-header-description {
    font-size: 1.2rem;
}